<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="60">
	<Properties>
		<Property name="filename">D:\\USER\\AppData\\Local\\SecuritySystem\\application.log</Property>
	</Properties>
	
	<Appenders>
		<File name="File" fileName="${filename}">
			<PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36} - %msg%n"/>
		</File>
		
		<Console name="Console">
			<PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36} %line - %msg%n"/>
		</Console>
	</Appenders>
	
	<Loggers>
		<Logger name="ua.dp.hammer" level="DEBUG" additivity="false">
			<AppenderRef ref="File"/>
		</Logger>
		<Logger name="org.springframework" level="INFO" additivity="false">
			<AppenderRef ref="File"/>
		</Logger>
		
		<Root level="INFO">
			<AppenderRef ref="File"/>
		</Root>
	</Loggers>
</Configuration>